<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<object th:include="fragments/head :: head"></object>
</head>
<body>
	<div th:include="fragments/header :: header"></div>
	<div class="container">
		<div class="row">
			<h1 id="forms" class="page-header">Spieler</h1>
		</div>
		<div class="row"></div>
		<div class="row">
			<div class="col-md-8">
				<div th:include="fragments/spieler/spielerList :: spielerList"></div>
			</div>
			<div class="col-md-4">
				<div th:include="fragments/spieler/spielerCreateForm :: spielerCreateForm" th:unless="${spieler.id != null}"></div>
				<div th:include="fragments/spieler/spielerEditForm :: spielerEditForm" th:unless="${spieler.id == null}"></div>
			</div>
		</div>
	</div>
</body>
</html>