<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="spielerList" th:unless="${#lists.isEmpty(spielerList)}">
<table class="table">
	<thead>
		<tr>
			<th>Spieler Id</th>
			<th>Name</th>
			<th>Aktiv</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="spieler : ${spielerList}">
			<td th:text="${{spieler.id}}"></td>
			<td th:text="${{spieler.name}}"></td>
			<td th:text="${{spieler.active}}"></td>
			<td>
				<form th:object="${spieler}" th:action="@{/spieler/delete}" th:method="delete"></form>
				<button type="submit" class="btn btn-danger btn-xs">löschen</button>
			</td>
		</tr>
	</tbody>
</table>
	

</div>
</html>